version: "3.9"

services:
  web:
    build: .
    container_name: tenis_rezerwacje
    restart: unless-stopped
    volumes:
      - .:/app
    ports:
      - "8083:8000"
    environment:
      - FLASK_APP=run.py
      - FLASK_ENV=development
    expose:
      - "8000"
    env_file:
      - .env
    command: python run.py
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.tenis-rezerwacje.rule=Host(`treningi.widzimyinaczej.org.pl`)"
      - "traefik.http.routers.tenis-rezerwacje.entrypoints=https"
      - "traefik.http.routers.tenis-rezerwacje.tls=true"
      - "traefik.http.services.tenis-rezerwacje.loadbalancer.server.port=8000"