{% extends "admin/admin_base.html" %}
{% block admin_content %}
<div class="container mt-4">
  <h2>Edytuj trening</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="row g-2 align-items-end row-cols-lg-auto mb-3">
      <div class="col-auto col-lg-3">
        {{ form.date.label(class="form-label") }}
        {{ form.date(class="form-control") }}
      </div>
      <div class="col-auto col-lg-3">
        {{ form.location_id.label(class="form-label") }}
        {{ form.location_id(class="form-select") }}
      </div>
      <div class="col-auto col-lg-3">
        {{ form.coach_id.label(class="form-label") }}
        {{ form.coach_id(class="form-select") }}
      </div>
      <div class="col-auto col-lg-2">
        {{ form.max_volunteers.label(class="form-label") }}
        {{ form.max_volunteers(class="form-control") }}
      </div>
      <div class="col-auto">
        <button class="btn btn-primary">Zapisz zmiany</button>
        <a href="{{ url_for('admin.manage_trainings') }}" class="btn btn-secondary ms-2">Anuluj</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
